### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# MacOS
.DS_Store

# Training Results
*/classification_experiments/*
Challenge1/Classification_Dataset.zip
Challenge1/Improvement/Basic_CNN.ipynb
Challenge2/ann-and-dl-image-segmentation.zip
Challenge2/Segmentation_Dataset/
Challenge2/segmentation_experiments/
Challenge2/Results/*
Challange3/dataset_vqa/*
Challange3/classification_experiments/*